

<div class="container">
  <div class="row justify-content-md-center" >
    <div class="col-md-6">
      <app-createtodo (todoCreated)="addItem($event)"></app-createtodo>
      <app-edittodo [datas]="edit" [hidden]="!edit" (itemSaved)="saveItem($event)"></app-edittodo>
      <div class="alert alert-danger" role="alert">
        {{ todayDate }}
      </div>
    </div>
    <div class="col-md-6" *ngIf = "todos.length > 0"> 
      <app-todo *ngFor = "let todo of todos" [data]="todo"
      (itemDeleted)="deleteItem($event)" (itemEdited)="editItem($event)"></app-todo>
    </div>
  </div>
</div>


 <!-- ()links nach rechts DAten übergeben ($event)
      []rechts nach links daten reinschreiben/zuweisen ##Yolo##ß        -->