<!-- 
<ul>
  <li *ngFor="let j of jokes">
    <app-todo [data]="j"></app-todo>
    {{ j.punchline }}
    </li>
</ul> -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-createtodo (todoCreated)="addItem($event)"></app-createtodo>
      <app-edittodo [data]="edit" [hidden]="!edit" (itemSaved)="saveItem($event)"></app-edittodo>
    </div>
    <div class="col-md-6"> 
      <app-todo *ngFor = "let todo of todos" [data]="todo"
      (itemDeleted)="deleteItem($event)" (itemEdited)="editItem($event)"></app-todo>
    </div>
  </div>
</div>