<div class="card card-block">
  <h4 class="card-title">Edit ToDo - Item</h4>
  <hr>
  <div class="form-group">
    <h5>ToDo Item:</h5>
    <input *ngIf="datas" type="text" class="form-control" [(ngModel)]="datas.itemtodo" >
  </div>
  <div class="form-group">
    <h5>Description</h5>
    <input *ngIf="datas" type="text" class="form-control" [(ngModel)]="datas.desc">
  </div>
  <button (click)="saveItem(datas.itemtodo, datas.desc)" class="btn btn-primary">Save</button>
</div>

<!-- 
*ngModel arbeiten
*edit button data übergen
**fertig =) -->